*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

h1{ font-size: 3.2em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 30px;
    border-radius: 5px;
    border: 2px solid rgba(0,0,0,0.3);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: rgb(29, 97, 45);
}


.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color:rgb(33, 38, 102); }

header{
    background-color: rgb(0, 0, 0);
    
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: rgb(245, 245, 245);
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

header a:hover{
    color: rgb(59, 184, 106);
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("/basuraelectronicaempleos.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
   
    
}

#hero h1{
    color: white;

}

#hero button{
    font-size: 1.75em;
}
.botoncito{
    color: #ffffff;
    text-decoration: none;
}
  
  .about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
  }
  
  .about-img {
    flex-basis: 40%;
  }
  
  .about-img img {
    max-width: 100%;
    height: auto;
    display: block;
  }
  
  .about-text {
    flex-basis: 55%;
  }
  
  .about-text h3 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }
  
  .about-text p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 15px;
    text-align: center;
    margin-right: 15px;
  }
  .about-link {
    text-align: center;
  }
  
  .about-link a {
    display: inline-block;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    padding: 10px 20px;
    background-color: #34803e;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  
  .about-link a:hover {
    background-color: #362e19;
  }



footer{
    background-color: rgb(255, 255, 255);
}

footer p{
    margin: 0;
    padding: 12px;
    color: rgb(100,100,100);
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.sobre-shu-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 0;
}

.sobre-shu-text {
  text-align: center;
  margin-right: 50px;
}#imagenbasura{
    width: 500px;
    height: 500px;
    padding: 40px;
}

form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 20px;
    font-size: 16px;
    font-family: Arial, sans-serif;
  }

  input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  input[type="submit"]:hover {
    background-color: #2e8b57;
  }
  h1 {
    text-align: center;
    color: #333;
    font-size: 45px;
  }
  


@media (min-width: 850px){
    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #hero h1{
        font-size: 5em;
    }

    #somos-h .container{
        display: flex;
        justify-content: space-evenly;
    }

    #somos-h .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #somos-h h2{
        margin-top: 0px;
    }

    #somos-h .img-container{
        background-image: url("logo.svg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 400px; 
    }

    #final h2{
        font-size: 5em;
    }

    #final button{
        font-size: 2em;
    }

    footer .container{
        justify-content: flex-end;
    }
    .product {
      width: 20%;
      margin: 20px ;
    padding: 30px;}
    
  
}